<div class="container">

	<div class="card">
	
		<a class="btn btn-light" data-ng-click="meetings.getAllMeetings()">
			Refresh
			<img src="/meeting-planner/resources/images/icons/reload.svg"/>
		</a>
	
		<table id="allMeetingsTable" class="table table-sm table-striped">
		
			<thead>
				<tr>
					<th>ID</th>
					<th>Subject</th>
					<th>Time</th>
					<th>Location</th>
					<th>Host</th>
					<th>Edit</th>
				</tr>
			</thead>
			
			<tbody>
				<tr class="meetingRow" data-ng-repeat="meeting in meetings.allMeetings">
					<td class="meetingRowID">{{ meeting.id }}</td>
					<td class="meetingRowSubject">{{ meeting.subject }}</td>
					<td class="meetingRowTime">{{ meeting.time | date : "short" }}</td>
					<td class="meetingRowLocation">{{ meeting.location }}</td>
					<td class="meetingRowHost">{{ meeting.hostUser.fullName }}</td>
					<td class="meetingRowEdit">
						<a class="editMeetingButton" href="#!/updateMeeting" data-ng-click="meetings.selectMeeting(meeting)">
							<img class="modify-icons" src="/meeting-planner/resources/images/icons/pencil.svg"/>
						</a>
						<a class="deleteMeetingButton" href="#/!" data-ng-click="meetings.deleteMeeting(meeting)">
							<img class="modify-icons" src="/meeting-planner/resources/images/icons/minus.svg"/>
						</a>
					</td>
				</tr>
			</tbody>
			
		</table>
		
		<a id="newMeetingButton" href="#!/newMeeting" class="btn btn-light" >
			Add New Meeting
			<img src="/meeting-planner/resources/images/icons/plus.svg"/>
		</a>
		
	</div> <!-- End of Card -->
	
	<p class="error">{{ meetings.errorMessage }}</p>
	
</div> <!-- End of Container -->